/* 
    Created on : Feb 13, 2022, 7:31:52 PM
    Author     : Roger Wanamo
*/

.btn-main {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.please-select-text {
    -fx-text-fill: #686868;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #dda0dd;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #d8bfd855;
}

.default-color0.chart-area-symbol { 
    -fx-background-color: #dda0dd, #d8bfd855; 
}

.graph-title {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.chart-box {
    -fx-padding: 10;
}