/* 
    Created on : Feb 13, 2022, 7:31:52 PM
    Author     : Roger Wanamo
*/

.btn-main {
    -fx-background-color: #1D2F6F;
    -fx-text-fill: white;
}

.btn-main:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn-secondary:hover {
    -fx-cursor: hand;
}

.btn-clicked {
    -fx-background-color: white;
    -fx-text-fill: green;
}

.chart-pane {
    -fx-background: white;
}

.control-component {
    -fx-padding: 0px 3px 10px 20px;
}

.query-source {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.please-select-text {
    -fx-text-fill: #686868;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #dda0dd;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #d8bfd855;
}

.default-color0.chart-area-symbol { 
    -fx-background-color: #dda0dd, #d8bfd855; 
}

.graph-title {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.chart-box {
    -fx-padding: 10;
}

.year-picker-menu-item:focused {
    -fx-background-color: none;
}

.year-picker-cell {
    -fx-padding: 2px 5px 2px 5px;
}

.year-picker-cell:hover {
    -fx-background-color: #e5e5e5;
}

.year-picker-selected-cell {
    -fx-background-color: #69c3db77;
}

.year-picker-selected-cell:hover {
    -fx-background-color: #69c3db;
}